html{
margin:0px;
background:#FFF8E2;
}
body{
width: 60%;
margin-left:auto;
margin-right:auto;
}
#header a{
margin-right:5px;
}
#header a.active{
color:#EA0014;
}
a, a:active{
color:#FF7D00;
}
a:hover,#header a.active:hover{
color:#AFAFAF;
}
#header{
background:url(bkampfbot.png) no-repeat top left;
height:42px;
padding-left:225px;
padding-top:40px;
vertical-align:bottom;
border-bottom: 5px solid #E5E5E5;
}
.ticket{
background-color:#FFE8A9;
border-radius: 10px;
padding:10px;
margin:10px;
}
.ticket .date{
float:left;
font-size:0.7em;
}
.ticket .date span{
font-size:0.8em;
margin-left:5px;
}
.ticket .link, .info .link{
float:right;
background:url(github.png) top right no-repeat;
height:30px;
width:100px;
}
.ticket .title{
clear:both;
margin-left:50px;
}
.ticket .title span{
float:right;
font-size:0.8em;
}
.info{
list-style:none;
float:right;
background-color:#FFE8A9;
border-radius:7px;
padding:8px;
}
.clear{
clear:both;
}
.hr{
border-top:solid 1px black;
}

.markdown blockquote{
border-left:solid 4px #DDDDDD;
margin-left:0px;
padding-left:10px;
}
.anonymIssue input, .anonymIssue textarea{
float:right;
margin-right:0;
}
.hints{
margin-left:100px;
font-size:0.7em;
}
label {
width:100px;
}
#footer{
margin-top:40px;
border-top:solid #E5E5E5 5px;
padding-top:20px;
color:#E5E5E5;
font-size:0.9em;
}
#footer .icons{
margin:2px auto;
text-align:center;
}
#footer img{
opacity:0.4;
}
#footer img:hover{
opacity:1;
}
#footer .icons a{
margin:15px;
}
